<!-- ============================================ -->
<!--                    CTA                       -->
<!-- ============================================ -->

<section id="cta-403">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Get an Estimate</span>
            <h2 class="cs-title">Get started on your fence project today!</h2>
            <p class="cs-text">
                We love what we do and we do it with passion. Request a free quote today and let your property shine with our expert craftsmanship
            </p>
       

                <button class="cs-button-solid" type="button" id="work-request-button-387e917e-adfb-4467-83b9-bfe182eda28e" >Get a Quote</button>

<link rel="stylesheet" href=https://d3ey4dbjkt2f6s.cloudfront.net/assets/external/work_request_embed.css media="screen" />

<script src=https://d3ey4dbjkt2f6s.cloudfront.net/assets/static_link/work_request_embed_dialog_snippet.js clienthub_id="387e917e-adfb-4467-83b9-bfe182eda28e" form_url=https://clienthub.getjobber.com/client_hubs/387e917e-adfb-4467-83b9-bfe182eda28e/public/work_request/embedded_dialog_work_request_form></script>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/About3.jpeg">
        <source media="(min-width: 601px)" srcset="/assets/images/About3.jpeg">
        <img loading="lazy" decoding="async" src="/assets/images/About3.jpeg" alt="Fence" width="1920" height="660" aria-hidden="true">
    </picture>
</section>
                                                      