<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-841">
    <div class="cs-container">
        <!-- Logo Group -->
        <div class="cs-logo-group">
            <a aria-label="go back to home" class="cs-logo" href="https://www.google.com/search?q=southern+fence+reviews&oq=southern+fence+&gs_lcrp=EgZjaHJvbWUqCAgBEEUYJxg7MgYIABBFGDkyCAgBEEUYJxg7MgcIAhAAGIAEMgcIAxAAGIAEMgcIBBAAGIAEMgYIBRBFGDwyBggGEEUYPDIGCAcQRRg80gEIMjg0N2owajeoAgCwAgA&sourceid=chrome&ie=UTF-8#lrd=0x89d6b17fd6d38d8b:0x740aa39524343152,1,,,,">
                <img class="cs-logo-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/Logo.png" alt="logo" width="240" height="32">
            </a>
            <p class="cs-text">
                Southern Fence is ready to help you with all your fencing needs. Contact us today to schedule a consultation or to inquire about our services.
            </p>
            <div class="cs-social">
                <a class="cs-social-link" aria-label="visit facebook profile" href="https://www.facebook.com/southernfencecollc/">
                    <img class="cs-social-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fface-white1.svg" alt="facebook" width="11" height="11">
                </a>
           
                <a class="cs-social-link" aria-label="visit instagram profile" href=" https://www.instagram.com/southernfencellc/">
                    <img class="cs-social-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Finsta-white1.svg" alt="instagram" width="11" height="11">
                </a>
            </div>
        </div>
        <!-- Links -->
        <div class="cs-ul-wrapper">
            <span class="cs-header">Quick Links</span>
            <ul class="cs-ul cs-ul-1">
                <li class="cs-li">
                    <a class="cs-link" href="/">Home</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/about">About</a>
                </li>

                  <li class="cs-li">
                    <a class="cs-link" href="/projects">Gallery</a>
                </li>

                <li class="cs-li">
                    <a class="cs-link" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
        <div class="cs-ul-wrapper">
            <!-- Contact Info -->
            <span class="cs-header">Contact Information</span>
            <ul class="cs-ul">
                <li class="cs-li">
                    <!--Make this link go to the google page-->
                    <a class="cs-link" href="https://www.google.com/search?q=southern+fence+reviews&oq=southern+fence+&gs_lcrp=EgZjaHJvbWUqCAgBEEUYJxg7MgYIABBFGDkyCAgBEEUYJxg7MgcIAhAAGIAEMgcIAxAAGIAEMgcIBBAAGIAEMgYIBRBFGDwyBggGEEUYPDIGCAcQRRg80gEIMjg0N2owajeoAgCwAgA&sourceid=chrome&ie=UTF-8#lrd=0x89d6b17fd6d38d8b:0x740aa39524343152,1,,,," target="_blank">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fclock3-grey.svg" alt="clock icon" width="20" height="20">
                        M-F 9am – 6pm
                    </a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="tel:843-846-1704">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fphone3-grey.svg" alt="phone icon" width="20" height="20">
                        843-846-1704
                    </a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="mailto:info@southern-fence.com">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Femail3-grey.svg" alt="email icon" width="20" height="20">
                        info@southern-fence.com
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="cs-bottom">
        <span class="cs-credit">
            © Copyright 2025 <a href="https://enigmadigital.ca/" class="cs-credit-link" target="_blank">Enigma Digital</a>
        </span>
  
    </div>
</footer>
                                