<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<div id="navigation">
    <div aria-hidden="true" class="background-color-div">
        <!--This div is used to overcome a z-index issue where the open
            #navbar-menu is on top of the #navigation. This bar places itself 
            the #navbar-menu so that menu appears behind the #navigation
        -->
    </div>
    <div class="container">
        <!--Logo - Get SVGs if you can.  I use fiverr to get png's turned into SVGs. Highly recommend it, worth the $20 - get a light and dark version-->
        <a class="logo" aria-label="click to go to home page" href="/">
            <!--Light Colored Logo, remove .dark image tag and the .light class if you don't have a dark and light version -->
            <img class="light" aria-hidden="true" src="/assets/images/logo.png" decoding="async" alt="logo" width="221" height="66">

            <!--Dark Colored Logo-->
            <img class="dark" aria-hidden="true" src="/assets/images/Logo_White.png" decoding="async" loading="lazy" alt="logo" width="221" height="66">
        </a>

        <!--Main Nav-->
        <nav id="navbar-menu">
            <ul>
                <li><a class="nav-link cs-active" href="/">Home</a></li>
                <li><a class="nav-link " href="/about">About Us</a></li>
                <li><a class="nav-link " href="/projects">Gallery</a></li>
                <li class="nav-link cs-li cs-dropdown">
                    <span class="cs-li-link nav-link ">
                        Areas Served
                        <img class="cs-drop-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fdown.svg" alt="dropdown icon" width="15" height="15" decoding="async" aria-hidden="true">
                    </span>
                    <ul class="cs-drop-ul">
                        <li class="cs-drop-li">
                            <a href="/Beaufort" class="cs-drop-link">Beaufort</a>
                        </li>
                        <li class="cs-drop-li">
                            <a href="/Bluffton" class="cs-drop-link">Bluffton</a>
                        </li>
                        <li class="cs-drop-li">
                            <a href="/Hardeeville" class="cs-drop-link">Hardeeville</a>
                        </li>
                        <li class="cs-drop-li">
                            <a href="/Hilton-Head" class="cs-drop-link">Hilton-Head</a>
                        </li>
                        <li class="cs-drop-li">
                            <a href="/Okatie" class="cs-drop-link">Okatie</a>
                        </li>
                        <li class="cs-drop-li">
                            <a href="/Summerville-Fence-Company" class="cs-drop-link">Summerville</a>
                        </li>
                        <li class="cs-drop-li">
                            <a href="/Ravenel" class="cs-drop-link">Ravenel</a>
                        </li>
                        <li class="cs-drop-li">
                            <a href="/Port-Royal" class="cs-drop-link">Port Royal</a>
                        </li>
                        <li class="cs-drop-li">
                            <a href="/Laurel-Bay" class="cs-drop-link">Laurel Bay</a>
                        </li>
                        <li class="cs-drop-li">
                            <a href="/Ridgeland" class="cs-drop-link">Ridgeland</a>
                        </li>
                        <li class="cs-drop-li">
                            <a href="/Sheldon" class="cs-drop-link">Sheldon</a>
                        </li>
                        <li class="cs-drop-li">
                            <a href="/Yemassee" class="cs-drop-link">Yemassee</a>
                        </li>
                        <li class="cs-drop-li">
                            <a href="/charleston" class="cs-drop-link">Charleston</a>
                        </li>
                        <li class="cs-drop-li">
                            <a href="/Hollywood" class="cs-drop-link">Hollywood</a>
                        </li>
                        <li class="cs-drop-li">
                            <a href="/Adams-Run" class="cs-drop-link">Adams-Run</a>
                        </li>
                        <li class="cs-drop-li">
                            <a href="/walterboro" class="cs-drop-link">Walterboro</a>
                        </li>
                        <li class="cs-drop-li">
                            <a href="/johns-island" class="cs-drop-link">Johns-Island</a>
                        </li>
                   

                    </ul>
                </li>
                <li class="nav-link cs-li cs-dropdown">
                    <span class="cs-li-link nav-link">
                        Services
                        <img class="cs-drop-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fdown.svg" alt="dropdown icon" width="15" height="15" decoding="async" aria-hidden="true">
                    </span>
                    <ul class="cs-services">
                        <li class="cs-drop-li cs-tertiary">
                            <span class="cs-tertiary-link">
                                <span class="cs-click">Chain Link Fence</span>
                                    <img class="cs-drop-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fdown.svg" alt="dropdown icon" width="15" height="15" decoding="async" aria-hidden="true">
                                </span>
                            <ul class="cs-tertiary-ul">
                             {#    <li class="cs-tertiary-li">
                                    <a href="/" class=" cs-tertiary-link">Beaufort</a>
                                </li> #}
                           {#      <li class="cs-tertiary-li">
                                    <a href="/" class="cs-tertiary-link">Bluffton</a>
                                </li> #}
                                <li class="cs-tertiary-li">
                                    <a href="/hardeeville-fence-company/Chain-Link" class="cs-tertiary-link">Hardeeville</a>
                                </li> 
                                <li class="cs-tertiary-li">
                                    <a href="/hilton-head-fence-company/chain-link" class="cs-tertiary-link">Hilton Head</a>
                                </li>
                              {#   <li class="cs-tertiary-li">
                                    <a href="/" class="cs-tertiary-link">Okatie</a>
                                </li> #}
                                <li class="cs-tertiary-li">
                                    <a href="/Summerville-Fence-Company/Chain-Link" class="cs-tertiary-link">Summerville</a>
                                </li>
                            </ul>
                        </li>
                        <li class="cs-drop-li cs-tertiary">
                            <span class="cs-tertiary-link">
                                <span class="cs-click">Wood Fence</span>
                                    <img class="cs-drop-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fdown.svg" alt="dropdown icon" width="15" height="15" decoding="async" aria-hidden="true">
                                </span>
                            <ul class="cs-tertiary-ul">
                               <li class="cs-tertiary-li">
                                    <a href="/beaufort-fence-company/wood" class=" cs-tertiary-link">Beaufort</a>
                                </li>
                                <li class="cs-tertiary-li">
                                    <a href="/bluffton-fence-company/wood" class="cs-tertiary-link">Bluffton</a>
                                </li>
                                <li class="cs-tertiary-li">
                                    <a href="/hardeeville-fence-company/Wood" class="cs-tertiary-link">Hardeeville</a>
                                </li> 
                                <li class="cs-tertiary-li">
                                    <a href="/hilton-head-fence-company/wood" class="cs-tertiary-link">Hilton Head</a>
                                </li>
                                <li class="cs-tertiary-li">
                                    <a href="/okatie-fence-company/wood" class="cs-tertiary-link">Okatie</a>
                                </li>
                                <li class="cs-tertiary-li">
                                    <a href="/Summerville-Fence-Company/Wood" class="cs-tertiary-link">Summerville</a>
                                </li>
                            </ul>
                        </li>
                        <li class="cs-drop-li cs-tertiary">
                            <span class="cs-tertiary-link">
                                <span class="cs-click">Vinyl Fence</span>
                                    <img class="cs-drop-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fdown.svg" alt="dropdown icon" width="15" height="15" decoding="async" aria-hidden="true">
                                </span>
                            <ul class="cs-tertiary-ul">
                              <li class="cs-tertiary-li">
                                    <a href="/beaufort-fence-company/vinyl" class=" cs-tertiary-link">Beaufort</a>
                                </li>
                                <li class="cs-tertiary-li">
                                    <a href="/bluffton-fence-company/vinyl" class="cs-tertiary-link">Bluffton</a>
                                </li>
                                <li class="cs-tertiary-li">
                                    <a href="/hardeeville-fence-company/vinyl" class="cs-tertiary-link">Hardeeville</a>
                                </li>
                                <li class="cs-tertiary-li">
                                    <a href="/hilton-head-fence-company/vinyl" class="cs-tertiary-link">Hilton Head</a>
                                </li>
                                <li class="cs-tertiary-li">
                                    <a href="/okatie-fence-company/vinyl" class="cs-tertiary-link">Okatie</a>
                                </li>
                                <li class="cs-tertiary-li">
                                    <a href="/Summerville-Fence-Company/Vinyl" class="cs-tertiary-link">Summerville</a>
                                </li>
                            </ul>
                        </li>
                        <li class="cs-drop-li cs-tertiary">
                            <span class="cs-tertiary-link">
                                <span class="cs-click">Privacy Fence</span>
                                    <img class="cs-drop-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fdown.svg" alt="dropdown icon" width="15" height="15" decoding="async" aria-hidden="true">
                                </span>
                            <ul class="cs-tertiary-ul">
                          {#   <li class="cs-tertiary-li">
                                    <a href="/" class=" cs-tertiary-link">Beaufort</a>
                                </li>#}
                                <li class="cs-tertiary-li">
                                    <a href="/bluffton-fence-company/privacy" class="cs-tertiary-link">Bluffton</a>
                                </li>
                                <li class="cs-tertiary-li">
                                    <a href="/hardeeville-fence-company/Privacy" class="cs-tertiary-link">Hardeeville</a>
                                </li> 
                                <li class="cs-tertiary-li">
                                    <a href="/hilton-head-fence-company/privacy" class="cs-tertiary-link">Hilton Head</a>
                                </li>
                           <li class="cs-tertiary-li">
                                    <a href="/okatie-fence-company/privacy" class="cs-tertiary-link">Okatie</a>
                                </li> 
                                <li class="cs-tertiary-li">
                                    <a href="/Summerville-Fence-Company/Privacy" class="cs-tertiary-link">Summerville</a>
                                </li>
                            </ul>
                        </li>
                        <li class="cs-drop-li cs-tertiary">
                            <span class="cs-tertiary-link">
                                <span class="cs-click">Metal Fence</span>
                                    <img class="cs-drop-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fdown.svg" alt="dropdown icon" width="15" height="15" decoding="async" aria-hidden="true">
                                </span>
                            <ul class="cs-tertiary-ul">
                           {#  <li class="cs-tertiary-li">
                                    <a href="/" class=" cs-tertiary-link">Beaufort</a>
                                </li>
                                <li class="cs-tertiary-li">
                                    <a href="/" class="cs-tertiary-link">Bluffton</a>
                                </li>
                                <li class="cs-tertiary-li">
                                    <a href="/" class="cs-tertiary-link">Hardeeville</a>
                                </li> #}
                                <li class="cs-tertiary-li">
                                    <a href="/hilton-head-fence-company/metal" class="cs-tertiary-link">Hilton Head</a>
                                </li>
                              {#   <li class="cs-tertiary-li">
                                    <a href="/" class="cs-tertiary-link">Okatie</a>
                                </li> #}
                                <li class="cs-tertiary-li">
                                    <a href="/Summerville-Fence-Company/Metal" class="cs-tertiary-link">Summerville</a>
                                </li>
                            </ul>
                        </li>
                        <li class="cs-drop-li cs-tertiary">
                            <span class="cs-tertiary-link">
                                <span class="cs-click">Pool Fence</span>
                                    <img class="cs-drop-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fdown.svg" alt="dropdown icon" width="15" height="15" decoding="async" aria-hidden="true">
                                </span>
                            <ul class="cs-tertiary-ul">
                          {#  <li class="cs-tertiary-li">
                                    <a href="/" class=" cs-tertiary-link">Beaufort</a>
                                </li>
                                <li class="cs-tertiary-li">
                                    <a href="/" class="cs-tertiary-link">Bluffton</a>
                                </li>
                                <li class="cs-tertiary-li">
                                    <a href="/" class="cs-tertiary-link">Hardeeville</a>
                                </li> #}
                                <li class="cs-tertiary-li">
                                    <a href="/hilton-head-fence-company/pool" class="cs-tertiary-link">Hilton Head</a>
                                </li>
                             {#    <li class="cs-tertiary-li">
                                    <a href="/" class="cs-tertiary-link">Okatie</a>
                                </li> #}
                                <li class="cs-tertiary-li">
                                    <a href="/Summerville-Fence-Company/Pool" class="cs-tertiary-link">Summerville</a>
                                </li>
                            </ul>
                        </li>
                        <li class="cs-drop-li cs-tertiary">
                            <span class="cs-tertiary-link">
                                <span class="cs-click">Aluminum Fence</span>
                                    <img class="cs-drop-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fdown.svg" alt="dropdown icon" width="15" height="15" decoding="async" aria-hidden="true">
                                </span>
                            <ul class="cs-tertiary-ul">
                               <li class="cs-tertiary-li">
                                    <a href="/beaufort-fence-company/aluminum" class=" cs-tertiary-link">Beaufort</a>
                                </li>
                                <li class="cs-tertiary-li">
                                    <a href="/bluffton-fence-company/aluminum" class="cs-tertiary-link">Bluffton</a>
                                </li>
                                <li class="cs-tertiary-li">
                                    <a href="/hardeeville-fence-company/aluminum" class="cs-tertiary-link">Hardeeville</a>
                                </li>
                                <li class="cs-tertiary-li">
                                    <a href="/hilton-head-fence-company/aluminum" class="cs-tertiary-link">Hilton Head</a>
                                </li>
                                <li class="cs-tertiary-li">
                                    <a href="/okatie-fence-company/aluminum" class="cs-tertiary-link">Okatie</a>
                                </li>
                                <li class="cs-tertiary-li">
                                    <a href="/Summerville-Fence-Company/Aluminum" class="cs-tertiary-link">Summerville</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a class="cs-button-solid cs-nav-button" href="/contact">Contact Us</a></li>
            </ul>
        </nav>

             <!--Dark Mode toggle, uncomment button code if you want to enable a dark mode toggle-->
         <button id="dark-mode-toggle" aria-label="dark mode toggle">
            <svg class="cs-moon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480 480" style="enable-background:new 0 0 480 480" xml:space="preserve"><path d="M459.782 347.328c-4.288-5.28-11.488-7.232-17.824-4.96-17.76 6.368-37.024 9.632-57.312 9.632-97.056 0-176-78.976-176-176 0-58.4 28.832-112.768 77.12-145.472 5.472-3.712 8.096-10.4 6.624-16.832S285.638 2.4 279.078 1.44C271.59.352 264.134 0 256.646 0c-132.352 0-240 107.648-240 240s107.648 240 240 240c84 0 160.416-42.688 204.352-114.176 3.552-5.792 3.04-13.184-1.216-18.496z"/></svg>
            <img class="cs-sun" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fsun.svg" decoding="async" alt="moon" width="15" height="15">
        </button> 

        <!--Mobile Nav toggle-->
        <button class="hamburger-menu" aria-label="toggle mobile nav">
            <span aria-hidden="true"></span>
        </button>
    </div>
</div>                   