/* STYLES FOR ABOVE THE FOLD */

/*-- -------------------------- -->
<---          Landing           -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
    #hero {
      font-size: inherit;
      padding-bottom: 16.875em;
      padding-top: 10.625em;
      position: relative;
      z-index: 1;
      overflow: hidden;
  
      &:before {
        content: '';
        position: absolute;
        display: block;
        height: 43.75em;
        width: 93.75em;
        background: #000784;
        opacity: 0.4;
        bottom: -6.25em;
        left: 50%;
        margin-left: -11.25em;
        z-index: 1;
        transform: rotate(-45deg);
      }
  
      &:after {
        content: '';
        position: absolute;
        display: block;
        height: 43.75em;
        width: 93.75em;
        background: #000784;
        opacity: 0.4;
        bottom: -12.5em;
        left: 50%;
        margin-left: -10em;
        z-index: 1;
        transform: rotate(-45deg);
      }
  
      picture {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
  
        &:before {
          content: '';
          position: absolute;
          display: block;
          height: 100%;
          width: 100%;
          background: #000;
          opacity: 0.6;
          top: 0;
          left: 0;
          z-index: 1;
        }
  
        &:after {
          content: '';
          position: absolute;
          display: block;
          height: 100%;
          width: 100%;
          background: #082032;
          opacity: 0;
          top: 0;
          left: 0;
          transition: opacity 0.3s;
        }
  
        img {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
  
      .hero-content {
        width: 96%;
        max-width: 82.5em;
        margin: auto;
        position: relative;
        z-index: 10;
        padding: 0;
      }
  
      .heroText {
        width: 100%;
        max-width: 34.25em;
      }
  
      h1 {
        font-weight: 900;
        font-size: 2.8em;
        color: #fff;
        line-height: 1.17857143;
        margin-bottom: 0.41071429em;
      }

      h3 {
        color: var(--primary);
      }
  
      p {
        font-size: 1.125em;
        line-height: 1.5;
        margin-bottom: 1.33333333em;
        color: #fff;
        max-width: 25.61111111em;
      }
  
 
  
  
      .cs-button-1 {
      
        font-size: calc(16 / 16 * 1rem);
        /* 46px - 56px */
        line-height: clamp(2.875rem, 8vw, 3.5rem);
        text-decoration: none;
        font-weight: 700;
        margin: auto;
        color: #fff;
        padding: 0 calc(24 / 16 * 1rem);
        background-color: var(--primary);
        display: inline-block;
        position: relative;
        z-index: 1;
    
        &:hover {
            &:before {
                width: 100%;
            }
        }
    
        &:before {
            /* hover box */
            content: "";
            position: absolute;
            display: block;
            height: 100%;
            width: 0%;
            background: #000;
            opacity: 1;
            top: 0;
            left: 0;
            z-index: -1;
            transition: width 0.3s;
        }
    }
    
                                    
  
      .call-now {
        height: 2.94444444em;
        width: 9.11111111em;
        font-size: 1.125em;
        display: inline-block;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        margin: 0;
        color: #fff;
  
        img {
          display: inline-block;
          width: 1.16666667em;
          height: 1.16666667em;
  
          &.light {
            display: none;
          }
  
          &.dark {
            display: block;
          }
        }
  
        .dark {
          display: none;
        }
  
        span {
          display: block;
        }
  
        .text {
          font-size: 0.75em;
          line-height: 1.16666667;
          text-transform: uppercase;
          margin-bottom: 0.5em;
        }
  
        .number {
          font-weight: bold;
          line-height: 1.16666667;
          font-size: 1em;
        }
      }
    }
  }
  
  /* Tablet */
  @media only screen and (min-width: 48em) {
    #hero {
      padding: 12.6875em 0 14.3125em 0;
      z-index: 1;
  
      .hero-content {
        display: flex;
        justify-content: space-between;
        position: relative;
      }
    }
  }
  
  @media only screen and (min-width: 64em) {
    #hero {
      padding-bottom: 15.625em;
  
      &:after {
        margin-left: -5em;
      }
  
      h1 {
        font-size: 3.5em;
      }
    }
  }
  
  /* Small Desktop 1300px */
  @media only screen and (min-width: 81.25em) {
    #hero {
      padding-top: 14.4375em;
      padding-bottom: 18.0625em;
      background-attachment: fixed;
      height: auto;
    }
  }
  
  /* 1500px */
  @media only screen and (min-width: 93.75em) {
    #hero {
      &:before {
        bottom: -18.75em;
        height: 62.5em;
        margin-left: 6.25em;
      }
  
      &:after {
        bottom: -31.25em;
        height: 62.5em;
        margin-left: 6.25em;
      }
  
      picture:before {
        width: 60%;
  
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+51,0+100 */
        background: -moz-linear-gradient(left, #ffffff 0%, #ffffff 51%, rgba(255, 255, 255, 0) 100%);
  
        /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #ffffff 0%, #ffffff 51%, rgba(255, 255, 255, 0) 100%);
  
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #ffffff 0%, #ffffff 51%, rgba(255, 255, 255, 0) 100%);
  
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=1);
  
        /* IE6-9 */
        opacity: 1;
      }
  
      h1 {
        color: #1a1a1a;
      }
  
      p {
        color: var(--bodyText);
      }
  
      .button-transparent {
        color: var(--primary);
        border: none;
      }
    }
  }
  
  /* Dark Mode */
  @media only screen and (min-width: 0em) {
    body.dark-mode #hero {
      &:before, &:after {
        background-color: var(--dark);
        opacity: 0.6;
      }
  
      picture {
        &:before {
          /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#082032+0,ffffff+100&1+0,0+100 */
          background: -moz-linear-gradient(left, #082032 0%, rgba(255, 255, 255, 0) 100%);
  
          /* FF3.6-15 */
          background: -webkit-linear-gradient(left, #082032 0%, rgba(255, 255, 255, 0) 100%);
  
          /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to right, #082032 0%, rgba(255, 255, 255, 0) 100%);
  
          /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#082032', endColorstr='#00ffffff', GradientType=1);
  
          /* IE6-9 */
        }
  
        &:after {
          opacity: 0.6;
        }
      }
  
      h1 {
        color: #fff;
      }
  
      p {
        color: #fff;
        opacity: 0.8;
      }
  
      .button-transparent {
        color: #fff;
      }
  
      .call-now {
        color: #fff;
  
        img {
          &.light {
            display: none;
          }
  
          &.dark {
            display: block;
          }
        }
      }
    }
  }
  
  /*-- -------------------------- -->
  <---          Services          -->
  <--- -------------------------- -*/
  /* Mobile */
  @media only screen and (min-width: 0em) {
    .services {
      border-radius: 0.3125em;
      margin: auto;
      margin-top: -10.4375em;
      position: relative;
      z-index: 100;
      background: #fff;
      width: 90%;
      max-width: 82.5em;
      padding: 3.125em 1.25em;
      border-top: 0.375em solid var(--primary);
      box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
      margin-bottom: 3.125em;
  
      .card {
        display: block;
        width: 100%;
        max-width: 22.3125em;
        margin: auto;
        margin-bottom: 3.125em;
        perspective: 700px;
  
        &:last-of-type {
          margin-bottom: 0;
        }
  
        picture {
          background: var(--primary);
          width: 5.5em;
          height: 5.5em;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: auto;
          margin-bottom: 1.4375em;
          border-radius: 50%;
          transition: transform 0.6s;
          transform-style: preserve-3d;
  
          img {
            width: 3em;
            height: 3em;
          }
        }
  
        h2 {
          text-align: center;
          font-size: 1.25em;
          line-height: 1.6875em;
          font-weight: 700;
          text-transform: uppercase;
          color: #1a1a1a;
          margin-bottom: 0.8125em;
        }
  
        p {
          text-align: center;
          line-height: 1.33333333em;
          width: 100%;
          opacity: 0.7;
        }
      }
    }
  }
  
  /* Inbetween */
  @media only screen and (min-width: 48em) {
    .services {
      font-size: min(1.4vw, 1em);
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 98%;
  
      .card {
        margin: 0;
        max-width: 20.3125em;
  
        picture {
          margin-bottom: 0.75em;
        }
      }
    }
  }
  
  /* Large Desktop 1300px */
  @media only screen and (min-width: 81.25em) {
    .services {
      padding: 3.125em 5em;
  
      .card {
        max-width: 22.3125em;
      }
    }
  }
  
  /* Large Desktop 1500px */
  @media only screen and (min-width: 93.75em) {
    #services {
      margin-right: 0;
    }
  }
  
  /* Dark mode */
  @media only screen and (min-width: 0em) {
    body.dark-mode #services {
      background: var(--medium);
      border-top: 0.375em solid var(--primaryShade);
  
      picture {
        background: var(--primaryShade);
        transform: rotateY(180deg);
      }
  
      h2 {
        color: #fff;
        font-weight: bold;
      }
    }
  }
  